
.wrapper-chat {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .header{
        background-color: var(--status-bar-color);
        color: var(--text-color);
        position: sticky;
        top: 15px;

        padding: 8px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }


    .chat-window{
        width: 100%;
        padding-bottom: 15px;
        mat-card{
            padding: 10px;
            display: flex;
            flex-direction: column;
            height: 100%;
            .chat-users-list{
                padding-bottom: 15px;
                height: 100%;
                overflow-y: auto;
            }
        }
    }
}