<div class="wrapper-register" [ngClass]="{'dark-theme' : darkMode, 'light-theme': !darkMode}">

    <mat-card>
        <mat-card-title class="text-center">{{"components.register.title" | translate}}</mat-card-title>

        <form [formGroup]="registerForm">

            <div>
                <mat-form-field>
                    <mat-label>{{"common.user.firstname" | translate}}</mat-label>
                    <input id="firstname" formControlName="firstname" matInput placeholder='{{"common.user.usernamePlaceholder" | translate}}'/>
                    <mat-error *ngIf='registerForm.controls.firstname.hasError("required")'
                    >{{"common.user.firstname" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                    <mat-error *ngIf='registerForm.controls.firstname.hasError("minlength")'
                    >{{"common.user.errorMessages.minlength4" | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>{{"common.user.lastname" | translate}}</mat-label>
                    <input id="lastname" formControlName="lastname" matInput placeholder='{{"common.user.usernamePlaceholder" | translate}}'/>
                    <mat-error *ngIf='registerForm.controls.lastname.hasError("required")'
                    >{{"common.user.lastname" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                    <mat-error *ngIf='registerForm.controls.lastname.hasError("minlength")'
                    >{{"common.user.errorMessages.minlength4" | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>{{"common.user.email" | translate}}</mat-label>
                    <input id="email" formControlName="email" matInput placeholder='{{"common.user.emailPlaceholder" | translate}}'/>
                    <mat-error *ngIf='registerForm.controls.email.hasError("required")'
                    >{{"common.user.email" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                    <mat-error *ngIf='registerForm.controls.email.hasError("email")'
                    >{{"common.user.email" | translate}}{{"common.user.errorMessages.invalidEmail" | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>{{"common.user.username" | translate}}</mat-label>
                    <input id="username" formControlName="username" matInput placeholder='{{"common.user.usernamePlaceholder" | translate}}'/>
                    <mat-error *ngIf='registerForm.controls.username.hasError("required")'
                    >{{"common.user.username" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                    <mat-error *ngIf='registerForm.controls.username.hasError("minlength")'
                    >{{"common.user.errorMessages.minlength4" | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>{{"common.user.password" | translate}}</mat-label>
                    <input id="password" formControlName="password" type="text" matInput placeholder='{{"common.user.passwordPlaceholder" | translate}}'/>
                    <mat-error *ngIf='registerForm.controls.password.hasError("required")'
                    >{{"common.user.password" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                    <mat-error *ngIf='registerForm.controls.password.hasError("minlength")'
                    >{{"common.user.errorMessages.minlength6" | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>{{"common.user.confirmPassword" | translate}}</mat-label>
                    <input id="confirmPassword" formControlName="confirmPassword" matInput placeholder='{{"common.user.usernamePlaceholder" | translate}}'/>
                    <mat-error *ngIf='registerForm.controls.confirmPassword.hasError("required")'
                    >{{"common.user.confirmPassword" | translate}}{{"common.user.errorMessages.isRequired" | translate}}</mat-error>
                    <mat-error *ngIf='registerForm.controls.confirmPassword.hasError("minlength")'
                    >{{"common.user.errorMessages.minlength6" | translate}}</mat-error>
                    <mat-error *ngIf='registerForm.controls.confirmPassword.hasError("confirmedValidator")'
                    >{{"common.user.errorMessages.passwordsDontMatch" | translate}}</mat-error>
                </mat-form-field>
            </div>

        </form>

        <div class="flex-container-center m-t-15">
            <button id="registerBtn" (click)="submitForm()" mat-raised-button="mat-raised-button" color="primary" [disabled]="!registerForm.valid">{{"components.register.buttons.register" | translate}}</button>
        </div>
        <p class="text-center">Have account <a class="login-btn" routerLink="/login">Login</a></p>
    </mat-card>
</div>
