<div class="wrapper-post" >
    <mat-card>
        <app-user-snack-bar [userData]="postData"></app-user-snack-bar>
        <mat-card-title>{{postData.post_text}}</mat-card-title>
        <div class="likes-comments-counter" (click)="openLikeList()">
            <span *ngIf="noLike">No likes so far...</span>
            <span  *ngIf="!noLike">  {{likeCount}} 
                <span *ngIf="oneLike">Like</span>
                <span *ngIf="!oneLike">Likes</span>
            </span>
        </div>
        <div class="buttons">
            <a mat-raised-button class="like-btn" [ngClass]="{'postIsLiked': postIsLiked}" (click)="likePost()"><mat-icon>thumb_up_alt</mat-icon> {{"components.post.like.likePostBtn" | translate}}</a>
        </div>


        <mat-expansion-panel hideToggle class="comment-expansion-panel">
            
            <mat-expansion-panel-header>
                <mat-panel-description *ngIf="!noComment">
                   <span>{{"components.post.comment.show" | translate}}</span>&nbsp;{{commentCount}}&nbsp;
                   <span *ngIf="oneComment">{{"components.post.comment.comment" | translate}}</span> 
                   <span *ngIf="!oneComment">{{"components.post.comment.comments" | translate}}</span> 
                </mat-panel-description><mat-panel-description *ngIf="noComment">
                    {{"components.post.comment.noCommentsYet" | translate}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="comments-wrapper">
                <div class="comment-container" *ngFor="let comment of commentList">
                    <mat-card>
                        <app-user-snack-bar [userData]="postData"></app-user-snack-bar>
                        <mat-card-content class=".mat-h3 comment-text">{{comment.comment_text}}</mat-card-content>
                    </mat-card>
                    
                </div>
            </div>
            <p *ngIf="noComment">{{"components.post.comment.sorryNoComment" | translate}}</p>
        </mat-expansion-panel>
        <div>
            <form [formGroup]="commentForm" class="input-form" (keypress)="commentPost($event)">
                <mat-form-field floatLabel="never" class="input-full-width">
                    <input  formControlName="comment" matInput placeholder='{{"components.post.comment.postCommentPlaceholder" | translate}}'/>
                </mat-form-field>
                
            </form>
        </div>

    </mat-card>

</div>