<div class="wrapper-main-view" [ngClass]="{'dark-theme' : darkMode, 'light-theme': !darkMode}">
    <div *ngIf="!tokenError">

        <app-navigation [userData]="userData"></app-navigation>

        
    </div>
    
    
    <div *ngIf="tokenError">
        <h2>Token error, please login</h2>
        <a routerLink="/login">Go to Login</a>
    </div>
    <div *ngIf="!tokenError" class="main-view">

        <app-feed *ngIf="!updateUser" [userData]="userData"></app-feed>
        
    </div>

    <app-chat></app-chat>
</div>
