.wrapper-main-view{
    background: var(--background-color);
    padding: 0;
    margin: 0;
    
    .main-view{
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        

        .navigation{
            width: 100%;
        }

        .content{
            height: 100%;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            overflow: hidden;
            .extras{
                border: 1px dashed blue;
            }
            .feed{
                min-width: 450px;
                padding: 0 15px;
                overflow-y: auto;
            }
            .chat{
                box-shadow: 0 0 1px 1px gray;
                border-radius: 4px;
                overflow-y: hidden;
            }



        }


    }




    
    mat-card{
    padding: 0;
    width: 100%;
    display: flex;
    background-color: var(--status-bar-color);
    }
}