
.wrapper-updateUser{
    height: 100vh;
    background-color: var(--background-color);


    .flex{
        display: flex;
    }
    .input-block{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    

    mat-card{
        border: 1px solid gray;
        border-radius: 4px;
        min-width: 320px;
        display: inline-block;
        margin: 50px auto auto auto;
    }
    
    
    .btn-container{
        padding: 0 15px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
}